*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
header{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 40px;
    padding: 25px 0px;
    display: flex;
    justify-content:left;
    align-items: center;
    background-color: black;
    color: white;
}

nav{
    padding-left: 55%;
}

h1{
    font-size: 1.4em;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
body{
    background-color: orange;
}

script {

}